  <div class="section section-codes" id="codes">
    <div class="container-margin w-container">
      <div class="codes-l1 body-text">
          <p><strong>DUNS:</strong> 117197690</p>
          <p><strong>CAGE Code:</strong> 8E0F6</p>
          <p><strong>GSA MAS 070:</strong> #47QTCA20D000W</p>
      </div>
      <div class="body-text">
        <p><strong>NAICS Codes</strong></p>
        <ul>
            <li>Other Computer Related Services 541519 | PSC: D322, D399, AZ15</li>
            <li>Custom Computer Programming Services 541511 | PSC: D308, D307, D306, D302, AZ14, AZ12</li>
            <li>Computer Systems Design Services 541512 | PSC: B544</li>
            <li>Graphic Design Services 541430 | PSC: AZ11, D318</li>
        </ul>
      </div>
    </div>
  </div>
  
  