	<div class="section section-hero">
		<div class="container container-margin w-container">
			<div class="site-header">
				<a href="/" class="w-inline-block" tabindex="0"><img class="hero-logo-img" src="/assets/images/logo.svg" alt="United Digital Partners"></a>
				<a href="#contact-us" class="button-primary button-header w-button" tabindex="0">Let&#x27;s Talk</a>
			</div>
			<div class="cover-header-spacing">
				<h4 tabindex="0">{{{encode copy}}}</h4>
				<h1 class="cover-header">{{{encode copy2}}}</h1>
			</div>

			<div class="section-hero__logo-container">
				<img class="section-hero__logo section-hero__logo--sdvosb" src="/assets/images/sdvosb-transparent-logo.png" alt="Service Disabled Veteran Owned Small Business logo">
				<img class="section-hero__logo section-hero__logo--ncgvifp" src="/assets/images/national-center-graduate-veteran-institute-for-procurement-vip-medal-transparent.png" alt="Nation Center Graduate Veteran Institute for Procurement VIP medal">
				<img class="section-hero__logo section-hero__logo--sba8a" src="/assets/images/sba-8a-certified.png" alt="SBA 8(a) Certified logo">
			</div>

			<div class="hero-mobile-button">
				<a href="#contact-us" class="button-primary button-header w-button button-full" tabindex="0">Let&#x27;s Talk</a>
			</div>
		</div>
	</div>
